{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-12 col-md-4">
                <p id="messages"></p>
                <div class="form-group">
                    <label for="comment">Comment:</label>
                    <textarea id="comment" class="form-control" rows="5" id="comment"></textarea>
                </div>
                <button id="sendMsg" class="btn btn-success">Click</button>
            </div>
        </div>
    </div>
{% endblock %}